.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 6.25%;
  background: #242424;
}

.banner {
  position: absolute;
  height: 7.5%;
  width: 100%;
  background: #2a2c2b;
}

.main{
  position: absolute;
  height: inherit;
  width: inherit;
  background: #f3f3f3;
}
