
/*----LOGIN MENU-------*/

.form-panel{
  position: relative;
  background-color: white;
  width: 500px;
  height: 100vh;
  float:left;

  font-family: League Spartan, helvetica;
  color: #353a4f;
}


.login-menu-logo{
  position: absolute;
  width:150px;
  height: 150px;
  top: 15vh;
  left:175px;
}
.login-btn{
  position: relative;
  width:500px;
  height: 60px;
  line-height: 60px;
  top: 60vh;
  left:0;
  background-color: #75c190;
  color: white;
  font-size: 40px;
}

.login-btn span{
  display:block;
  margin-top:5px;
  height:55px;
}

.login-container{
  position:absolute;
  top:40vh;
  width:100%;
  margin-left:125px;
}

.login-divider{
  position:relative;
  top:60vh;
  height:60px;
  width:500px;
}
.login-horizontal-divider{
  position:absolute;
  left:0;
  top: 50% ;
  width: 100%;
  height:1px;
  background: #757575;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
.login-or{
  color: #757575;
  width:50px;
  background:white;
  position:absolute;
  font-size: 20px;
  top:calc(50% - 14px) ;
  text-align:center;
  left:calc(50% - 25px);
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

.login-divider:hover > div{
  background:#75c190;
}
.login-divider:hover > span{
  color:#75c190;
}
.login-group {
  margin:auto 0;
  position:relative;
  margin-bottom:30px;
}
input{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:250px;
  border:none;
  border-bottom:1px solid #757575;
}
input:focus{ outline:none;border-bottom:1px solid #75c190;}

label                {
  color:#999;
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

.forgot-passwd{
  position:absolute;
  color : #75c190;
  top: 60px;
  left:120px;
  font-size:14px;
}

.forgot-passwd:hover{
  color : #75c190;
  text-decoration: none;
}

input:focus ~ label, input:valid ~ label     {
  top:-20px;
  font-size:14px;
  color:#75c190;
}

.bar  { position:relative; display:block; width:250px; }
.bar:before, .bar:after   {
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background:#75c190;
  transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%;
}

input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}


/*-----SIGN UP -------*/

/*.signup-menu{
  background-color: #353a4f;
  width: 60px;
  height: 100vh;
  top:0;
  left:0px;
  -webkit-transition: width 0.6s ;
  transition: width 0.6s ;
}

.signup-menu-title{
  position: absolute;
  top: calc(50vh + 50px);
  left: 15px;
  font-family: League Spartan, helvetica;
  font-size: 30px;
  color: white;
  line-height: : 60px;
  text-align: center;
  transform: rotate(270deg);
  transform-origin: left top 0;



}*/
/*.signup-menu:hover{
  width: 70px;
}*/

.form {
  z-index: 15;
  position: absolute;
  top:0;
  left:0;
  background: #FFFFFF;
  height:100vh;
  width: 500px;
  box-sizing: border-box;
  overflow: hidden;
}

.form-panel {
  box-sizing: border-box;
  height:100vh;
  width:500px;
}

.form-panel.one{
  left:35px;
}

.form-panel.two {
  z-index: 15;
  position: absolute;
  top: 0;
  right: calc(100% - 70px);
  background: white;
  width: 500px;
  min-height: 100%;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
}


.form-panel.two:hover {
  right: calc(100% - 90px);
}

.form-panel.two.active {
  right: 70px;
  cursor: default;
}

.form-panel.one{
  cursor:pointer;
}
.form-panel.one.active{
  cursor:default;
}


.login-container.panel-two{
  width:20px;
}
