<template name="moduleListModal">
  <div class="modal fade" id="moduleSettingsModal">
    <div class="modal-dialog modal-sm">
      <div class="modal-content module-modal-content">

        <div class="modal-header module-modal-content">
          <h4 class="modal-title module-settings-title">Edit Your modules</h4>
        </div>


        {{> moduleListSort}}

        <div class="modal-footer module-modal-footer">
          <button type="button" class="btn  module-settings-btn" id="save">Save</button>
            <button type="button" class="btn module-settings-btn" id="cancel">Cancel</button>
        </div>

      </div>
    </div>
  </div>
</template>
