<template name="registerForm">
  <div class = "profile_menu">
    <h2 class = "profile_menu_title "> Register </h2>
    <form>
      <div class="form-group">
        <label for="Username">Username:</label>
        <input type="username" name="registerUsername" class="form-control" id="username">
      </div>
      <div class="form-group">
        <label for="Email">Email:</label>
        <input type="email" name="registerEmail" class="form-control" id="email">
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" name="registerPassword" class="form-control" id="pwd">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
    <button type = "button" class ="btn" id = "signinBtn"> Sign In</button>
  </div>


</template>
