body {
	margin: 0 !important;
	background-color: #4973cf ;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

header{
  display: block;
  height:20px;
  width:100%;
}
nav{
  display: block;
  height:30px;
  width:100%;
}

#close_button {
    width:30px;
    height:30px;
    padding-right: 10px;
    float:right;

    user-drag: none;
user-select: none;
-moz-user-select: none;
-webkit-user-drag: none;
-webkit-user-select: none;
-ms-user-select: none;
}
#max_button {
    width:30px;
    height:30px;
    padding-right: 5px;
    float:right;

    user-drag: none;
user-select: none;
-moz-user-select: none;
-webkit-user-drag: none;
-webkit-user-select: none;
-ms-user-select: none;
}

#min_button {
    width:30px;
    height:30px;
    padding-right: 5px;
    float:right;

    user-drag: none;
user-select: none;
-moz-user-select: none;
-webkit-user-drag: none;
-webkit-user-select: none;
-ms-user-select: none;
}

#Slogan{
  margin:100px;
}
